.main-add {
  display: inline-block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: purple;
  color: #fff;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  line-height: 56px;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-align: center;
  width: 3.2em;
  height: 3.2em;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
